/* 

.fpBGKh {
    border-radius: 0px !important;
}

.hMFeQo {
    display: inline-block !important;
    padding: 30px 25px 20px 25px !important;
    border: 1px solid #0000001f;
    border-bottom: none;
    border-radius: 20px 20px 0px 0px;
}

.huezRP {
    border: 1px solid #0000001f;
    border-top: none;
    border-bottom: none;
    padding: 0px 25px;
}
.hVPalX {
    border: 1px solid #0000001f;
    border-top: none;
    border-radius: 0px 0px 20px 20px;
}
.mHisf {
    background-color: #eef2f6 !important;
    font-weight: 600;
    font-size: 14px;
    color: #000000bf;
} */
.actn-icon1{
    font-size: 20px;
    color: #000000ad;
}
.actn-icon2{
    color: #008000a3;
}
.actn-icon3{
    font-size: 20px;
    color: #ff0000bd;
}


.css-19kzrtu {
    padding: 20px 0px 0px 0px !important;
}

.css-heg063-MuiTabs-flexContainer {

    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}

.css-gen84r-MuiTabs-indicator {
    bottom: 20px !important;
}
  